.button
 {
    -fx-background-color: #c47302;
    -fx-fill-color: #c47302;
    -fx-arc-width: 100;
    -fx-arc-height: 100;
 }
 .checkBox
 {
    -fx-background-color: #c47302;
        -fx-fill-color: #c47302;
        -fx-arc-width: 100;
        -fx-arc-height: 100;
 }